/* SETTING */
:root {
    font-size: 12px;
    --clr01: #F6F1F1;
    --clr02: #AFD3E2;
    --clr03: #19A7CE;
    --clr04: #146C94;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

/* BODY */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr01);
    height: 100vh;
}


/* CONTAINER */
.container {
    /* background-color: rgb(160, 45, 45); */
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;

}


/* NOTES BODY*/
.container .notes-body {
    /* background-color: purple; */
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.482);
}


/* HEAD NOTE */
.head-note {
    position: absolute;
    width: 100%;
    /* background-color: yellow;        */
    top: -30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 3;
}

.head-note .head-acc {
    background-color: var(--clr04);
    border: 3px solid #cdd8dd;
    height: 60px;
    width: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 2px black;
}


/* NOTE BOX */
.note-box {
    position: relative;
    background-color: var(--clr03);
    width: 100%;
    height: 100%;
    padding: 40px 20px 20px 20px;
    z-index: 2;
    border: 2px solid #0c384d;

}

.note-01::after {
    content: "";
    height: 20px;
    width: 20px;
    background-color: red;
    z-index: 4;
}

.note-02 {
    z-index: 3;
}

.note-03 {
    z-index: 2;

}

.note-04 {
    z-index: 1;
}

.note-box textarea {
    width: calc(100% - 40px);
    height: calc(100% - 60px);
    resize: none;
    font-size: 2rem;
    padding: 10px;
    outline: none;
    border: none;
    /* background-color: var(--clr02); */
    position: absolute;
    overflow-y: unset;
    font-family: 'Kalam', cursive;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    outline: 2px solid var(--clr04);
}

.note-box .note {
    background-color: var(--clr02);
}

/* NOTE SIDE */
.note-side {
    /* background-color: green; */
    position: absolute;
    right: -30px;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    top: 50px;
    z-index: 1;
}

.note-side button {
    width: 80px;
    height: 50px;
    border: none;
    outline: 2px solid #194457;
    margin: 20px 0;
    border-radius: 10px;
    font-weight: bold;
    color: transparent;
    background-color: var(--clr04);
}

.note-side .btn-note:focus {
    transform: translateX(35px);
    background-color: var(--clr01);
    color: var(--clr04);
    transition: all .4s ease-in-out;
}

.note-side .btn-save button:hover {
    color: var(--clr01);
    transform: translateX(35px);
    transition: all .4s ease-in-out;
}

.best {
    z-index: 5;
}

@media screen and (max-width: 500px) {

    .container {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .note-side {
        right: -55px;
        height: unset;
        z-index: 4;
    }

    .note-side button {
        width: 90px;
        height: 40px;
        outline: none;
        border-radius: 10px 0 0 10px;
        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .note-side .btn-note:focus {
        transform: translateX(-43px);
        background-color: var(--clr01);
        color: var(--clr04);
        transition: all .4s ease-in-out;
    }

    .note-side .btn-save button {
        color: var(--clr01);
        transform: translateX(-40px);
    }

    .note-side .btn-save button:hover {
        color: var(--clr04);
        background-color: var(--clr01);
        transform: translateX(-40px);
    }


}